<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Bugs</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>interface</th>
                    <th>status</th>
                    <th>type</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bug of bugs">
                    <td>{{bug.interfacee}}</td>
                    <td>{{bug.statut}}</td>
                    <td>{{bug.type}}</td>
                    <td>{{bug.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>