<h3>Create Bug</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Interface </label>
            <input type="text" class="form-control" id="interface" required [(ngModel)]="bug.interfacee" name="interface">
        </div>

        <div class="form-group">
            <label for="name">Type</label>
            <input type="text" class="form-control" id="type" required [(ngModel)]="bug.type" name="type">
        </div>

        <div class="form-group">
            <label for="name">Statut</label>
            <input type="text" class="form-control" id="statut" required [(ngModel)]="bug.statut" name="statut">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
</div>